<div class="pagination-bar">
    <ul class="pagination">
        <% if (page.prev) { %>
          <li class="pagination-prev">
            <a
                class="btn btn--default btn--small"
                href="<%- url_for(page.prev_link) %>"
                aria-label="<%= __('pagination.newer_posts') %>"
            >
              <i class="fa fa-angle-left text-base icon-mr"></i>
              <span><%= __('Previous 10 posts') %></span>
            </a>
          </li>
        <% } %>
        <% if (page.next) { %>
          <li class="pagination-next">
            <a
                class="btn btn--default btn--small"
                href="<%- url_for(page.next_link) %>"
                aria-label="<%= __('pagination.older_posts') %>"
            >
              <span><%= __('Next 10 posts') %></span>
            <i class="fa fa-angle-right text-base icon-ml"></i>
            </a>
          </li>
        <% } %>
        <li class="pagination-number">Page <span><%= page.current %></span> of <span><%= page.total %></span></li>
    </ul>
</div>